.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.resize {
  user-select: none;
  cursor: col-resize;
}

.statusDiv {
  bottom: 10px;
  left: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 200;
}

.socketId {
  opacity: 0.5;
  font-size: 12px;
}

.status {
  width: 10px;
  height: 10px;
  display: block;
  background: red;
  border-radius: 50%;
  opacity: 1;
}

.status.active {
  opacity: 1;
  background: green;
}
