.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bottom {
  padding-top: 20px;
}

.messages {
  padding: 0 7px 0 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.noMessage {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  position: absolute;
}

.message {
  padding: 10px;
  margin-top: 20px;
  max-width: 70%;
  gap: 7px;
  display: flex;
  border-radius: 20px;
  align-self: flex-start;
  background: #444;
}

.owner {
  align-self: flex-end;
  background: #222;
}

.messageText {
  word-break:break-all;
  font-size: 14px;
  align-self: flex-start;
}
.messageTime {
  font-size: 11px;
  align-self: flex-end;
}

.messages::-webkit-scrollbar {
  width: 3px;
}
.messages::-webkit-scrollbar-track {
  background: transparent;
}
.messages::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 20px;
}
