.room {
  padding: 15px 10px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: min-content minmax(50px, 1fr);
}

.room:hover {
  background: #222;
}

.avatar {
  width: 60px;
  height: 60px;
  background: #555;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.userInfo {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
}

.name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.time {
  font-size: 12px;
}

.message {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}