.input {
  width: 100%;
  padding: 4px 5px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
}

.sidebarBg {
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
}

.sidebarBg.active {
  opacity: 1;
  z-index: 2;
}

.sidebar {
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #191524;
  position: absolute;
  transition: all 0.3s;
  z-index: 2;
}
.sidebar.active {
  left: 0;
}

