.button {
  width: 60%;
  height: 40px;
  letter-spacing: 2px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;

  font-size: 16px;

  transition: all 0.3s;

  overflow: hidden;
  position: relative;
}

.button::before {
  content: '';
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background: #fff;
  transform: translate(-50%,-50%);
  border-radius: 50%;

  transition: all 0.3s;

  z-index: -1;
  position: absolute;
}

.button:hover {
  color: #000;
  border: 1px solid #999;
}

.button:hover::before {
  width: 350px;
  height: 350px;
}

.button:active {
  font-size: 12px;
}

.button:active::before {
  background: #999;
}