.inputBox {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #ffffff5d;

  font-size: 15px;

  background: transparent;
  transition: all 0.3s;
}
.input:focus {
  border-bottom: 1px solid #fff;
}

.label {
  color: #ffffff5d;

  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
  transition: all 0.3s;
  position: absolute;
  z-index: -1;
}

.hide {
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #000;
}

.active .label {
  color: #fff;
  font-size: 12px;

  top: 0;
  left: 5px;
}
.active .hide {
  color: #fff;
}

