.burgerBox {
  width: 25px;
  height: 15px;
  cursor: pointer;
  position: relative;
}

.burgerBox::before, .burgerBox::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  transition: all 0.3s;
}

.burgerBox::before {
  top: 0;
}

.burgerBox::after {
  bottom: 0;
}

.burger {
  display: block;
  width: 100%;
  height: 1px;
  top: 7px;
  background: #fff;
  position: absolute;
  transition: all 0.3s;
}

.burgerBox.active::before {
  top: 7px;
  rotate: 45deg;
}
.burgerBox.active::after {
  rotate: -45deg;
  bottom: 7px;
}
.burgerBox.active .burger {
  scale: 0;
}